/* connect google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,900&family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Paytone+One&display=swap');



* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, #232a2c 33%, #1b2727 80%, #0e1412);
}


/* header */
    header {
        /* background: #d84343; */
        background: rgb(31, 31, 31);
        padding: 5px;
        display: flex;
        justify-content: space-between;
    }

    .header-nav {
        display: flex;
    }

    /*logo/logo-text*/
    .logo {
        display: flex;
        margin-left: 15px;
        
    }
    .logo-text {
        color: #fff;
        font-size: 23px; /* edit */
        margin: auto;
        font-family: 'Paytone One', sans-serif;
        font-weight: 200;
    }

    .logo-img {
        height: 28px;
        margin: auto;
        margin-right: 7px;
    }

    .nav-links {
        display: flex;
        margin: auto;
    }

    .nav-link-active {
        height: 23px;
        margin: auto;
    }

    .nav-link {
        margin: auto;
        margin-right: 12px;
        text-decoration: none;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 15px;
        transition: 0.5s;
    }

    .nav-link-act {
        margin: auto;
        margin-right: 12px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 15px;
        color: #a8d824;
    }

    .nav-link:hover {
        color: #a8d824;
        text-decoration-line: underline;
    }

    .menu-img {
        width: 23px;
        margin: auto;
    }
    .search-img {
        width: 23px;
    }

    .nav-btn {
        margin: auto;
    }

    .search-btn {
        border: 2px solid rgb(31, 31, 31);
        background: none;
        margin: auto 20px;
        
    }
    .menu-btn {
        background: none;
        border: 2px solid rgb(31, 31, 31);
        margin: auto;
    }
    .menu-btn:hover {
        border: 2px solid #91be15;
        background: #91be15;
    }
    .search-btn:hover {
        border: 2px solid #91be15;
        background: #91be15;
    }

/* main */
    main {
        
    }

    .banner-img {
        width: 100%;
    }

    /* title */
    .title-text {
        color: #fff;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }

    .preview {
        display: block;
        margin: auto;
        margin-top: 20px;
    }

    .direc {
        width: 80%;
        margin: 0 auto;
    }

    .post {
        display: flex;
    }

    .preview-img {
        height: 200px;
        margin-left: 30px;
    }

    .preview-text-block {
        width: 500px;
    }

    .preview-text {
        color: rgb(209, 209, 209);
        word-wrap: break-word;
        margin-left: 20px;
        font-family: 'Open Sans', sans-serif;
    }


/* footer */

    footer {
        background: #d84343;
        margin-top: 20px;
        padding: 5px;
    }

    .footer-text {
        color: #fff;
        text-align: center;
    }



